<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Descripción de tu página">
    
    <title>TecnikStore</title>
    
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>   

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.54.0/swagger-ui.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.54.0/swagger-ui-bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.54.0/swagger-ui-standalone-preset.js"></script>


    <!--Swiper css-->
    
<body>
    <header>
        <a href="#" class="logo"><img src="" alt="" style="width: 80px; border-radius: 30%;"></a>
        <div class="menu">
            <div class="navegacion">
                <div class="navegacionItems">
                    <a href="#">Inicio</a>
                    <a href="#info">Sobre nostros</a>
                    <a href="#form">contactanos</a>
                    <a routerLink="/login">Login</a>
                   
                </div>
            </div>
        </div>
    </header>

    <section class="principal">
      <img class="img active" src="../../../assets/img/tecnico1.jpg" alt="" style="width: 600px; height: 370px; margin-left: 50%; margin-top: 12%;"> 
      <img class="img" src="../../../assets/img/tecnico2.png" alt="" style="width: 600px; height: 370px; margin-left: 50%; margin-top: 12%;">
      <img class="img" src="../../../assets/img/tecnico3.jpg" alt=""style="width: 600px; height: 370px; margin-left: 50%; margin-top: 12%;">
      <img class="img" src="../../../assets/img/tecnico4.jpg" alt=""style="width: 600px; height: 370px; margin-left: 50%; margin-top: 12%;">
      <img class="img" src="../../../assets/img/tecnico5.png" alt=""style="width: 600px; height: 370px; margin-left: 50%; margin-top: 12%;">
      <div class="contenido active">
          <h1 style="color: black ;">TecnikStore <br><span>!reparamos tu equipo¡</span></h1>

      <a href="#form">Agendar cita YA!</a>
      </div>
      <div class="contenido">
          <h1 style="color: black ;">TecnikStore <br><span>!reparamos tu equipo¡</span></h1>
      <a href="#form">Agendar cita YA!</a>
      </div>
      <div class="contenido">
          <h1 style="color: black ;">TecnikStore <br><span>!reparamos tu equipo¡</span></h1>
      <a href="#form">Agendar cita YA!</a>
      </div>
      <div class="contenido">
          <h1 style="color: black ;">TecnikStore <br><span>!reparamos tu equipo¡</span></h1>
      <a href="#form">Agendar cita YA!</a>
      </div>
      <div class="contenido">
          <h1 style="color: black ;">TecnikStore <br><span>!reparamos tu equipo¡</span></h1>
      <a href="#form">Agendar cita YA!</a>
      </div>
  
  
  </section>
<section class="Info">
    <h1 >Quienes Somos</h1>
    <div class="Container">
  <div class="img">
  <img src="../../../assets/img/mantenimiento-computadores.jpg" alt="">
  </div>
  <div class="Informacion">
  <p>Tecnik Store es una empresa especializada en la prestación de servicios de asistencia técnica para electrodomésticos. Su misión es proporcionar soluciones eficientes y confiables a los clientes que requieren reparaciones y mantenimiento de sus dispositivos electrónicos. Sin embargo, como se ha señalado en el proceso de recopilación de datos, 
    se han identificado ciertas áreas de preocupación que requieren atención y mejora en la organización.</p>
  
  </div>
    </div>
  
  </section>
  <section>
    <div class="opniones">
  
      <h1 class="opinionUsuario">
      ¿Qué opinan nuestros clientes?
    </h1>
  
    <div class="tarjetas">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top " src="../../../assets/img/imgUsuario.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"> Estoy extremadamente satisfecha con el servicio que recibí en Tecnik Store. Mi lavadora tenía un problema que otros técnicos no pudieron resolver, pero el equipo de Tecnik Store no solo diagnosticó el problema rápidamente, sino que también lo repararon en tiempo récord. Además,
             me mantuvieron informada en cada paso del proceso. ¡Definitivamente los recomiendo!</p>
        </div>
      </div><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/img/imgUsuario2.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">¡Impresionante! Elegí Tecnik Store para reparar mi refrigerador
             y no puedo estar más contento con la experiencia. Desde el primer contacto telefónico,
              su equipo demostró profesionalismo y conocimiento. Mi refrigerador fue reparado de manera eficiente y con piezas de alta calidad. También me sorprendió la limpieza con la que dejaron mi cocina después de terminar el trabajo. 
            ¡Excelente servicio!</p>
        </div>
      </div><div class="card" style="width: 18rem;">
        <img class="card-img-top imagen3" src="../../../assets/img/imgUsuario3.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"> Lo que más aprecio de Tecnik Store es su excelente seguimiento. Llevé mi televisor para su reparación y en todo momento me mantuvieron informado sobre el progreso. Saber que mi dispositivo estaba en buenas manos me dio mucha tranquilidad. Además, la calidad de la reparación fue excepcional, mi televisor funciona como nuevo. 
            Sin duda, volveré a confiar en ellos si tengo otro problema con mis electrodomésticos.</p>
        </div>
      </div>
    </div>
    
    </div>
  </section>
  <section class="mapa">
    <h1>¿Donde nos ubicamos?</h1>
    
    
  <div class="contenedormap">
    <div class="googlemapa">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.50628087040394!2d-74.10873679529254!3d4.752566835715058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f846474471d99%3A0xb0bf836c0fd601f1!2sTecnik%20store!5e0!3m2!1ses!2sco!4v1695128093717!5m2!1ses!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  </div>
  </div>
    
  </section>

  <!-- Agrega la div para mostrar la alerta -->
  <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
    ¡El formulario se ha enviado con éxito!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <!-- Agrega los enlaces a Bootstrap JS y jQuery aquí -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script>
    // JavaScript para mostrar la alerta al enviar el formulario
    document.getElementById('miFormulario').addEventListener('submit', function(event) {
        event.preventDefault(); // Evita que el formulario se envíe normalmente
        document.getElementById('alerta').style.display = 'block'; // Muestra la alerta
    });
  </script>
  <footer id="ultimo" class="text-center text-lg-start bg-white text-muted">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block style= color: #9e9e9e;">
          <span style="color: #9e9e9e;" id="mas">Conéctate con nosotros en las redes sociales:</span>
        </div>
        <!-- Left -->
    
        <!-- Right -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #3b5998;"
            href="..."
            role="button"
            ><i class="fab fa-facebook-f"></i></a>
    
          <!-- Twitter -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #55acee;"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
          <!-- Google -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #dd4b39;"
            href="https://www.google.com/search?q=tecnickStore&rlz=1C1GCEU_enCO1069CO1069&oq=tecnickStore&aqs=chrome..69i57j69i61l2.5479j0j1&sourceid=chrome&ie=UTF-8"
            role="button"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac;"
            href="..."
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #0082ca;"
            href="#!"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <!-- Github -->
      
        </section>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
    
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3 text-secondary"></i>TecnickStore
              </h6>
              <p>
               Contenido empresa TecnickStore pagina principal de gestion 
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Productos
              </h6>
              <p>
                <a href="#!" class="text-reset">Productos</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Programas</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Servicios </a>
              </p>
              <p>
                <a href="#!" class="text-reset">Morrrales</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Enlaces útiles
              </h6>
              <p>
                <a href="#!" class="text-reset">Conocenos</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Ajustes</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Pedidos</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Ayuda</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contactos</h6>
              <p><i class="fas fa-home me-3 text-secondary"></i> Colombia,Bogota,DC</p>
              <p>
                <i class="fas fa-envelope me-3 text-secondary"></i>
                TecnickStorehotmail.com
              </p>
              <p><i class="fas fa-phone me-3 text-secondary"></i> + 57 304 430 85 04</p>
              <p><i class="fas fa-print me-3 text-secondary"></i> + 57 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(12, 7, 7, 0.025);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
     
      </div>
      <!-- Copyright -->
    </footer>
  

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script>src=""</script>
    <script src="main.js"></script>
   
    <script>
 window.onload = function() {
   const ui = SwaggerUIBundle({
     url: "./APIDOC/swagger.yaml",
     dom_id: "#swagger-ui",
     presets: [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset],
     layout: "BaseLayout",
   });

   window.ui = ui;
 };
</script>


</body>
<!--Swiper JS-->

</html>