<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <div class="container">
      
            <h3 class="mb-2">Login</h3>
            <div class="form-floating mb-3 mt-3">
                <input type="text" [(ngModel)]="username" autocomplete="false" class="form-control" placeholder="Ingrese usuario">
                <label for="username">Usuario</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" [(ngModel)]="password" autocomplete="false" class="form-control" placeholder="Ingrese password">
                <label for="password">Password</label>
            </div>
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary btn-lg" (click)="login()">Aceptar</button>
            </div>
            <p class="mt-3">No tienes cuenta? <a routerLink="/signIn" class="link-primary">Registrar</a></p>
            <p class="mt-3">No tienes cuenta? <a routerLink="/vistausuario" class="link-primary">Ingresa como Usuario</a></p>
        </div>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
