<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>404 Eroor Page: Page Not Found</title>
  <link rel="stylesheet" media="all" href="error404.component.css" />
</head>
<body>
<div class="site">
	<div class="sketch">
		<div class="bee-sketch red"></div>
		<div class="bee-sketch blue"></div>
	</div>

<div class="mensaje  ">
	<h1>404:
		<small>Players Not Found <a href="" style="color: red;">Redireccionar</a></small></h1>
	
			
</div>
	  
</div>
</body>
</html>